<launch>
  <arg name="INPUT_CLOUD" default="/camera/depth_registered/points"/>
  <arg name="INPUT_IMAGE" default="/camera/rgb/image_rect_color"/>
  <arg name="INPUT_BOX" default="/cluster_decomposer_final/boxes"/>
  <!-- <arg name="INPUT_CLOUD" default="/multisense/organized_image_points2_color"/> -->
  <!-- <arg name="INPUT_IMAGE" default="/multisense/left/image_rect_color"/> -->
  <node pkg="jsk_pcl_ros" type="flow_speed_tracking" name="flow_speed_tracking">
    <remap from="~input" to="$(arg INPUT_CLOUD)"/>
    <remap from="~input/image" to="$(arg INPUT_IMAGE)"/>
    <remap from="~input/box" to="$(arg INPUT_BOX)"/>
    <param name="tracking_mode" value="true"/>
    <param name="maxCorners" value="150"/>
  </node>
  <node pkg="jsk_interactive_marker"
        type="bounding_box_marker"
        name="flow_bounding_box_marker"
        output="screen"
        >
    <remap from="~bounding_box_array" to="flow_speed_tracking/boxes" />
  </node>
</launch>